body{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: pink;
    position: static;
    font-family: sans-serif;
    font-style: italic;
    margin-top: 10%;
}

img{
    height: 400px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
}

 #yes {
        font-size: 30px;
}

#no {
    transition: transform 0.5s ease;
        margin-top: 30px;
        font-size: 30px;
    }

#no:hover {
    cursor: pointer;
}